* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.top {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 1px slategray black;
  border-radius: 0px 0px 10px 10px;

}

.perfm_logo {
  width: 150px;
  height: 70px;
  padding: 5px;
}

nav {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  background: white;
  border: 1px solid rgb(206, 203, 203);
  border-radius: 0px 0px 15px 15px;
  margin:0px 10%;
  box-shadow: 0px 10px 10px 0px rgba(235,238,240,1);
}

nav > ul {
  display: inline-flex;
  flex-wrap: wrap;
  font-size: 12px;
}

.tvs_logo {
  width: 150px;
  height: 70px;
  padding: 5px;
}

.nav_list1 li {
  padding: 2px 10px;
  border-left: 1px solid rgb(206, 203, 203);
}

.nav_list1 a:hover {
  font-weight: bold;
}
.nav_list1 li:first-child {
  border-left: none;
  padding: none;
  margin: none;
}

.nav_list2 li:hover {
  font-weight: bold;
}

.nav_list2 li {
  padding: 2px 10px;
  border-left: 1px solid rgb(206, 203, 203);
}

.nav_list2 li:first-child {
  border-left: none;
}

.top {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url(https://www.tvsapache.com/assets/images/are/apache-series.png);
  background-size: cover;
}

.offer {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: red;
  font-size: 34px;
  font-weight: bolder;
  font-family: 'Anton', sans-serif;
  width: 300px;
  height: 300px;
}

.offer1 {
  font-size: 35px;
  width: 165px;
  padding: 0px 10px;
}

.offer2 {
  font-size: 50px;
  padding: 0px 10px;
}

.offer3 {
  font-size: 70px;
  padding: 0px 10px;
}

.offer4 {
  font-size:22px;
  height: 50px;
  width: 300px;
  
}

.offer4 em {
  color: white;
  background: rgb(243, 55, 22);
  padding: 5px 10px;
}

.below {
  background-image: url(https://bgfons.com/uploads/asphalt/asphalt_texture409.jpg);
  background-size: cover;
}

.below a {
  color: white;
  font-size: 20px;
}

.tool_btn {
  text-align: center;
}

.tool_btn {
  margin: 40px;
  padding: 30px;
}

.tool_btn a {
  padding: 0px 50px;
}

.tool_btn a:hover {
  border-bottom: 4px solid yellow;
}
.tool_btn a:first-child {
  border-right: 3px solid white;
}

.option_grid {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0px 10%;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(68, 65, 65);
}


.option {
display: flex;
justify-content: center;
align-items: center;
height: 300px;
min-width: 33%;

}

.option_text {
  border: 1px solid white;
  padding: 10px;
}

.option:hover {
opacity: 0.5;
}


.option1 {
  background-image: url(https://accessories.tvsmotor.com/images/riding/xpod-show.jpg
);
background-size: cover;
background-position: center;
}

.option2 {
  background-image: url(https://accessories.tvsmotor.com/images/riding/Riding-jacket-show-new.jpg
);
background-size: cover;
background-position: center;
}

.option3 {
  background-image: url(https://accessories.tvsmotor.com/images/riding/Riding-pant-show.jpg
);
background-size: cover;
background-position: center;
}

.option4 {
  background-image: url(https://accessories.tvsmotor.com/images/riding/gloves-show.jpg
);
background-size: cover;
background-position: center;
}

.option5 {
  background-image: url(https://accessories.tvsmotor.com/images/riding/helmet-show.jpg
);
background-size: cover;
background-position: center;
}

.option6 {
  background-image: url(https://accessories.tvsmotor.com/images/riding/riding-boot-show.jpg
);
background-size: cover;
background-position: center;
}

.option7 {
  background-image: url(https://accessories.tvsmotor.com/images/riding/Balaclava-show.jpg
);
background-size: cover;
background-position: center;
}

.foot {
  text-align: center;
  margin: 20px 0px;
}

.foot p {
  font-size: 14px;
  padding: 15px;
}
 
.foot ul {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.foot li {
  font-size: 12px;
  padding:  0px 18px;
  border-right: 1px solid black;
  text-decoration: underline;
}


@media (max-width: 1600px) {
  .nav_list1 {
    display: none;
  }

  .perfm_logo {
    margin-right: auto;
  }
}

@media (max-width: 800px) {
  .option_grid {
    display: block;
  }
}

@media (max-width: 500px) {
  .perfm_logo {
    display: none;
  }
}


